@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(/2259141-sedona-2-master/fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(/2259141-sedona-2-master/fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
}
.page-header {
  color: #000000;
  background-color: #FFFFFF;
}
.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}
.main-index {
  background-image: url(/2259141-sedona-2-master/images/index-background.jpg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  background-size: 100% auto;
}
.hero {
  text-align: center;
}
.advantages {
  text-align: center;
}
.advantages-list {
  text-align: center;
}
.advantages-lead {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}
.title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.title-description {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
.services-lead {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
}
.services-item {
  text-align: center;
}
.search-link-button {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  background-color: brown;
  width: 376px;
  height: 52px;
  top: 162px;
  left: 108px;
  padding: 8px 50px 8px 50px;
  gap: 10px;
  border: #FFFFFF;
}
.footer-title {
  color: #FFFFFF;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.page-footer {
  background-image: url(/2259141-sedona-2-master/images/index-footer.jpg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  background-size: 100% auto;
}
.footer-description {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
.page-footer-form {
  text-align: center;
}
.main-inner {
  background-image: url(/2259141-sedona-2-master/images/catalog-filter.jpg);
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  background-size: 100% auto;
}
.inner-header-title {
  color: #FFFFFF;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  text-align: left;
}

